package components

import (
	"service.data/internal/core/dtos"
)

templ Tile(tile dtos.TileDto) {
	<div class={ "tile", tileTypeClass(tile.Type) }>
		<span class={ "tile-dot", tileDotClass(tile.Type) }></span>
		<p class="tile-title text-overline">{ tile.Title }</p>
		<p class="tile-value">{ tile.Value }</p>
		<p class="tile-desc text-caption size-xs">{ tile.Desc }</p>
	</div>
}

func tileTypeClass(tileType string) string {
	switch tileType {
	case "info":
		return "tile--info"
	case "success":
		return "tile--success"
	case "error":
		return "tile--error"
	case "warning":
		return "tile--warning"
	default:
		return "tile--default"
	}
}

func tileDotClass(tileType string) string {
	switch tileType {
	case "info":
		return "tile-dot--info"
	case "success":
		return "tile-dot--success"
	case "error":
		return "tile-dot--error"
	case "warning":
		return "tile-dot--warning"
	default:
		return "tile-dot--default"
	}
}
