:root {
  --color-primary-bg: #0f0f0f;
  --color-primary-border: #333333;
  --color-primary-text: white;

  --color-secondary-bg: #1a1a1a;
  --color-secondary-text: #aaaaaa;

  --color-tertiary-bg: #262626;
  --color-tertiary-text: #666666;
}
