@import 'colors.css';
@import 'typography.css';

body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  background-color: var(--color-primary-bg);
}

.container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  color: var(--color-primary-text);
}

input[type="search"]::-webkit-search-cancel-button {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  background-color: var(--color-primary-text);
  background-size: 1.25rem 1.25rem;
  -webkit-appearance: none;
  -webkit-mask-image: url("../images/icons/clear.svg");
}

@scope (.devices-view) {
  :scope {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
  }

  .device-tiles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
  }

  .search-input {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0.75rem 1rem;
    color: white;
    border: 1px solid var(--color-primary-border);
    border-radius: 8px;
    background-color: var(--color-secondary-bg);
  }

  .search-input::placeholder {
    color: var(--color-tertiary-text);
  }

  .device-list-container {
    overflow-y: auto;
    min-height: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .device-list-container::-webkit-scrollbar {
    display: none;
  }

  .device-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
  }

  .device-item {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    border: 1px solid var(--color-primary-border);
    border-radius: 0.5rem;
    background-color: var(--color-secondary-bg);
    gap: 0.5rem;
  }

  .device-item:hover {
    border-color: var(--color-primary-border);
  }

  .no-results {
    padding: 2rem;
    text-align: center;
    color: var(--color-tertiary-text);
  }

  .device-name {
    flex: 1;
  }

  .device-type {
    padding: 0.2rem 0.6rem;
    color: var(--color-secondary-text);
    border-radius: 0.25rem;
    background-color: var(--color-tertiary-bg);
  }

  .device-id {
    padding-left: 0.5rem;
    color: var(--color-tertiary-text);
  }

}
